<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"
       default-lazy-init="true">

    <bean id="firstPlayer" class="model.otherClasses.HumanPlayer">
        <property name="field" ref="firstPlayerField"/>
        <property name="guessMaking" ref="manualGuessMaking"/>
    </bean>

    <bean id="secondComputerPlayer" class="model.otherClasses.ComputerPlayer">
        <constructor-arg name="shipPlacing" ref="autoShipPlacing"/>
        <constructor-arg name="guessMaking" ref="easyComputerGuessMaking"/>
        <constructor-arg name="field" ref="secondPlayerField"/>
    </bean>

    <bean id="secondHumanPlayer" class="model.otherClasses.HumanPlayer"/>

    <bean id="firstPlayerField" class="model.otherClasses.Field">
        <constructor-arg name="factory" ref="factory"/>
    </bean>

    <bean id="secondPlayerField" class="model.otherClasses.Field">
        <constructor-arg name="factory" ref="factory"/>
    </bean>

    <bean id="factory" class="model.otherClasses.ShipFactory"/>

    <bean id="easyComputerGuessMaking" class="model.otherClasses.EasyComputerGuessMaking"/>

    <bean id="manualGuessMaking" class="model.otherClasses.ManualGuessMaking"/>

    <bean id="autoShipPlacing" class="model.otherClasses.AutomaticShipPlacing"/>

    <bean id="manualShipPlacing" class="model.otherClasses.ManualShipPlacing"/>

    <bean id="fieldObservers" class="java.util.ArrayList" scope="prototype"/>

    <bean id="gameWithComputer" class="model.otherClasses.GameWithComputer">
        <constructor-arg name="firstPlayer" ref="firstPlayer"/>
        <constructor-arg name="secondPlayer" ref="secondComputerPlayer"/>
        <constructor-arg name="firstField" ref="firstPlayerField"/>
        <constructor-arg name="secondField" ref="secondPlayerField"/>
        <constructor-arg name="firstPlayerFieldObservers" ref="fieldObservers"/>
        <constructor-arg name="secondPlayerFieldObservers" ref="fieldObservers"/>
    </bean>
</beans>