<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd"
       default-lazy-init="true">

    <bean id="firstPlayerAutomaticShipPlacing" class="model.otherClasses.HumanPlayer">
        <property name="field" ref="firstPlayerField"/>
        <property name="guessMaking" ref="manualGuessMaking"/>
        <property name="shipPlacing" ref="autoShipPlacing"/>
    </bean>

    <bean id="secondComputerPlayer" class="model.otherClasses.ComputerPlayer">
        <constructor-arg name="shipPlacing" ref="autoShipPlacing"/>
        <constructor-arg name="guessMaking" ref="easyComputerGuessMaking"/>
        <constructor-arg name="field" ref="secondPlayerField"/>
    </bean>

    <bean id="secondHumanPlayer" class="model.otherClasses.HumanPlayer"/>

    <bean id="firstPlayerField" class="model.otherClasses.Field">
        <constructor-arg name="factory" ref="factory"/>
    </bean>

    <bean id="secondPlayerField" class="model.otherClasses.Field">
        <constructor-arg name="factory" ref="factory"/>
    </bean>

    <bean id="factory" class="model.otherClasses.ShipFactory"/>

    <bean id="easyComputerGuessMaking" class="model.otherClasses.EasyComputerGuessMaking"/>

    <bean id="manualGuessMaking" class="model.otherClasses.ManualGuessMaking"/>

    <bean id="autoShipPlacing" class="model.otherClasses.AutomaticShipPlacing"/>

    <bean id="manualShipPlacing" class="model.otherClasses.ManualShipPlacing"/>

    <bean id="fieldObservers" class="java.util.ArrayList" scope="prototype"/>

    <bean id="gameManager" class="model.otherClasses.GameManager"/>

    <bean id="gameWithComputerAutomaticShipPlacing" class="model.otherClasses.Game">
        <constructor-arg name="firstPlayer" ref="firstPlayerAutomaticShipPlacing"/>
        <constructor-arg name="secondPlayer" ref="secondComputerPlayer"/>
        <constructor-arg name="firstField" ref="firstPlayerField"/>
        <constructor-arg name="secondField" ref="secondPlayerField"/>
        <constructor-arg name="firstPlayerFieldObservers" ref="fieldObservers"/>
        <constructor-arg name="secondPlayerFieldObservers" ref="fieldObservers"/>
    </bean>

    <bean id="startMenuController" class="controller.StartMenuViewController">
        <constructor-arg name="model" ref="gameManager"/>
        <!--<property name="view" ref="startMenuView"/>-->
    </bean>

    <bean id="startMenuView" class="view.StartMenuView">
        <constructor-arg name="model" ref="gameManager"/>
        <constructor-arg name="controller" ref="startMenuController"/>
    </bean>

    <bean id="gameView" class="view.GameView">
        <constructor-arg name="model" ref="gameManager"/>
        <property name="controller" ref="gameController"/>
    </bean>

    <bean id="gameController" class="controller.GameController">
        <constructor-arg name="model" ref="gameManager"/>
        <constructor-arg name="view" ref="gameView"/>
    </bean>
</beans>